.main_wrapper
            width 980px;
            margin 0 auto;

#menu_list_items



.menu_container
              margin-top 30px;
              width: 301px;
              float: left;

li.ui-menu-item
              width 300px;
              height 60px;
              background-color $gradient-grey;
              margin-bottom 1px;
              -webkit-transition: all 1s ease-in-out;
              -moz-transition: all 1s ease-in-out;
              -o-transition: all 1s ease-in-out;
              transition: all 1s ease-in-out;

.active
        color:#36abe1;


li a
    font-family "OpenSans-Regular";
    font-size 18px;
    color $menu-greycolor;


.ui-all
        position: absolute;
        margin-top: 18px;
        margin-left: 80px;




.info_container
              float left;
              width 570px;
              height 400px;
              overflow: hidden;
              margin-top: 20px;
              margin-left: 70px;
            //  position absolute;



.info_scrollWrapper
                   position relative;







.fa-cog:before
                font-family :FontAwesome;
                content: "\f013";
                font-size: 30px;
                position: relative;
                left: 230px;
                top: 14px;
                color $menu-greycolor;

.fa-trash-o:before
                  font-family :FontAwesome;
                  content: "\f014";
                  font-size: 30px;
                  position: relative;
                  left: 230px;
                  top: 14px;
                  color $menu-greycolor;

.fa-home:before
                  font-family :FontAwesome;
                  content: "\f015";
                  font-size: 30px;
                  position: relative;
                  left: 230px;
                  top: 14px;
                  color $menu-greycolor;
.fa-file-o:before
                  font-family :FontAwesome;
                  content: "\f016";
                  font-size: 30px;
                  position: relative;
                  left: 230px;
                  top: 14px;
                  color $menu-greycolor;

.fa-clock-o:before
                  font-family :FontAwesome;
                  content: "\f017";
                  font-size: 30px;
                  position: relative;
                  left: 230px;
                  top: 14px;
                  color $menu-greycolor;

.fa-road:before
                  font-family :FontAwesome;
                  content: "\f018";
                  font-size: 30px;
                  position: relative;
                  left: 230px;
                  top: 14px;
                  color $menu-greycolor;

.fa-download:before
                  font-family :FontAwesome;
                  content: "\f019";
                  font-size: 30px;
                  position: relative;
                  left: 230px;
                  top: 14px;
                  color $menu-greycolor;
li:hover
        cursor: hand;
        cursor: pointer;



.info-content-wrapper:before
                            color: #36abe1;
                            top: 52px;
                            left: 0px;
                            font-size: 70px;

.info-content-wrapper
                      position: relative;
                      margin-bottom: 100px;
                     h2
                       padding-left 80px;
                       color #36abe1;
                     h3
                       font-family:'OpenSans-Light';
                       font-size 18px;
                       line-height 20px;
                       margin-left 80px;
                       color #5c6366;
                     p
                       margin-bottom 24px;
                       margin-top 24px;
                       font-family:'OpenSans-Light';
                       font-size 13px;
                       color #65686f;