//- -------------- SAMPLE ---------------- -//
//- -------------------------------------- -//

.main_wrapper

    .menu_container
                    ul#menu_list_items



    .info_container
                   .info_scrollWrapper

